<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53428222239-jmdulutvgn0k98227rlje2j3lq2q9g1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53428222239-jmdulutvgn0k98227rlje2j3lq2q9g1j</string>
	<key>API_KEY</key>
	<string>AIzaSyC_3xl5az48Y4PLyi779HluOa0kJvjMq_c</string>
	<key>GCM_SENDER_ID</key>
	<string>53428222239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ta-boo.Argment</string>
	<key>PROJECT_ID</key>
	<string>arment-a0fc8</string>
	<key>STORAGE_BUCKET</key>
	<string>arment-a0fc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:53428222239:ios:0be3e1116d5f12dd2fd82a</string>
	<key>DATABASE_URL</key>
	<string>https://arment-a0fc8.firebaseio.com</string>
</dict>
</plist>
